MONGODB_URI=mongodb+srv://gowthamb1547_db_user:YOUR_PASSWORD@cluster0.n08vifm.mongodb.net/queueless?retryWrites=true&w=majority
JWT_SECRET=GOWTHAM
JWT_REFRESH_SECRET=refreshsecret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
PORT=5000
NODE_ENV=development

