MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/queueless?retryWrites=true&w=majority
JWT_SECRET=supersecret
JWT_REFRESH_SECRET=refreshsecret
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
PORT=5000
NODE_ENV=development

